//ANIMATION
@mixin transition($duration) {
  -webkit-transition: $duration;
  -moz-transition: $duration;
  -ms-transition: $duration;
  -o-transition: $duration;
  transition: $duration;
}

@keyframes fadeInDown {
  0% {
     opacity: 0;
     transform: translateY(-20px);
  }
  100% {
     opacity: 1;
     transform: translateY(0);
  }
} 

@keyframes fadeOut {
  0% {
     opacity:1;
     transform: translateY(0px);
  }
  100% {
     opacity: 0;
     transform: translateY(200px);
  }
} 

