//buttons---------------
.btn-primary {
  background-color: $base-color;
  border-color: $base-color;

  &:hover {
    background-color: darken($base-color, 10%);
    border-color: darken($base-color, 10%);
  }
}

//grid
.MuiDataGrid-root {
  font-family: inherit !important;
  font-size: 12px !important;
}

.MuiDataGrid-virtualScroller {
  margin-top: 40px !important;
}

.MuiDataGrid-columnHeaders {
  min-height: 40px !important;
  max-height: 40px !important;
  line-height: 40px !important;
  border-bottom: 1px solid #ddd;
  background: #f5f5f5;
  border-radius: 0 !important;
}

.MuiDataGrid-columnHeaderTitleContainerContent {
  margin: auto;
}

.MuiTablePagination-actions {
  button {
    transform: rotate(180deg);
  }
}

.MuiPaginationItem-previousNext {
  transform: rotate(180deg);
}

.MuiTablePagination-displayedRows {
  font-family: "IRANYekan" !important;
  font-size: inherit !important;
  margin-bottom: 0 !important;
}

.MuiInputLabel-root {
  font-family: "IRANYekan" !important;
  font-size: inherit !important;
  left: unset;
  right: 0 !important;
}

.MuiDataGrid-root .MuiDataGrid-cell:focus-within {
  outline: none !important;
  text-align: right;
}

.MuiCheckbox-root {
  padding: 0 8px;
}

.MuiInputBase-root svg {
  right: unset;
  left: 7px;
}

.tagWrapper {
  .MuiOutlinedInput-root {
    flex-wrap: wrap;

    .MuiButtonBase-root {
      margin: 17px 2px -10px 2px;
    }
  }
}

.MuiTabs-vertical {

  .MuiButtonBase-root {
    font-family: inherit !important;
    text-align: right;
  }
}

// .MuiOutlinedInput-input.MuiInputBase-input.MuiInputBase-inputAdornedEnd {
//   padding: 8.5px 14px;
// }
.MuiOutlinedInput-input[readonly=""]~fieldset {
  // background-color: #fff !important;
}

.MuiFormControl-root.MuiTextField-root {
  width: 100%;
}
.MuiInputBase-input{
  height: 26px;
}
.MuiTablePagination-select {
  padding-left: 24px !important;
  padding-right: 7px !important;
}

.MuiPaper-root.MuiDrawer-paper {
  background-color: #2a3a62;
}

.MuiDataGrid-virtualScrollerContent {
  height: 100% !important;
  overflow-y: auto;
}

.MuiSlider-root{
  z-index: 10;
}


// .MuiInputBase-input {
//   padding: 9.5px 14px;
// }
.MuiPickersCalendarHeader-label,
.MuiPickersYear-root button {
  font-family: 'IRANYekan';
}

.MuiPickersYear-root button {
  width: 58px;
}

.MuiInputBase-input {
  padding: 1px;
  font-family: 'IRANYekan';
  font-size: 14px;
}

.Mui-error:before {
  box-shadow: 0 24px 0px rgb(255 192 192 / 20%);
  border-bottom: 1px solid #ff5d5d !important;
}

.MuiInputBase-root.form-control {
  &::before {
    border-bottom: transparent;
  }
}

.MuiFormControl-root.form-control {
  padding: 0;
  border: none;


  div.MuiOutlinedInput-root {
    border-radius: 0;
    padding: 7px;
    width: 100%;
  }

  &.error {
    div.MuiOutlinedInput-root {
      box-shadow: 0 24px 0px rgb(255 192 192 / 20%);
      border-bottom: 1px solid #ff5d5d !important;
    }

  }
}

.MuiFormControl-root {
  // position: relative;
  // top: 4px;

  &>label {
    right: 34px !important;
    left: auto;
    transform-origin: top right;
    line-height: 1.1rem;

    &.Mui-focused {
      right: 34px;
      transform-origin: top right;
    }

    .custom_input {
      padding: 0;
    }
  }

  legend {
    font-size: 0.9rem !important;
    text-align: right;
    float: none;
  }
}

.MuiTextField-root {
  &>label {
    font-size: 13px;
    line-height: 1.4rem;
  }
}

.customPagination {
  direction: rtl;

  .MuiToolbar-root {
    padding-left: 0 !important;
  }
}

.MuiTablePagination-actions {
  button {
    transform: rotate(180deg);
    // transform: rotate(180deg);
  }
}

.MuiPaginationItem-previousNext {
  transform: rotate(180deg);
}

.MuiOutlinedInput-root,
.css-krmblu-MuiButtonBase-root-MuiMenuItem-root {
  text-align: right;
  font-size: 13px;
}

button.MuiButton-root {
  font-family: 'IRANYekan';
  font-size: small;
  margin-left: 4px;
}

div.MuiOutlinedInput-root {
  font-family: 'IRANYekan' !important;
  font-size: small;
  padding-right: 14px;
  background-color: #fff;
}

/* --------------------------- MUI custom Calendar -------------------------- */
.MuiPickersPopper-paper {
  box-shadow: 0 0 0 3000rem rgba(0, 0, 0, 0.1);
}

.MuiPickersArrowSwitcher-root button {
  transform: rotate(180deg);
}

.Mui-selected {
  background-color: #ff9751 !important;
  border-radius: 4px !important;
}

.MuiPickersDay-today {
  border: 1px solid rgb(0 0 0 / 12%) !important;
  border-radius: 4px;
  background: #eee;
}

.MuiPickersCalendarHeader-labelContainer {
  margin-left: auto;
  margin-right: 1rem;
}

.MuiPickersArrowSwitcher-spacer {
  width: 0;
}

div.MuiCalendarPicker-root {

  *,
  .MuiPickersDay-root {
    font-family: 'IRANYekan' !important;
    font-size: 15px !important;
  }

  &>div:first-child {
    direction: ltr;
  }
}

.MuiYearCalendar-root {
  width: 259px;
}

.MuiPickersCalendarHeader-root {
  padding-left: 33px;
}

.MuiPickersDay-root,
.MuiPickersDay-dayWithMargin,
.MuiDayCalendar-weekDayLabel,
.MuiPickersDay-today,
.MuiPickersDay-hiddenDaySpacingFiller {
  width: 26px;
  height: 26px;
  font-size: 15px !important;
  line-height: 17px;
}

.MuiDateCalendar-root {
  width: 260px;
  max-height: 284px;
}

.MuiFormHelperText-root {
  text-align: right;
  font-size: 10px !important;
  margin-right: 4px;
}

.MUIRichTextEditor-root-1 {
  margin-bottom: 2rem;
}

div.MUIRichTextEditor-container-2 {
  font-family: 'IRANYekan';
  font-size: 13px;
  border: 1px solid #bbb;
  padding: 1rem;
}

div.MUIRichTextEditor-placeHolder-9 {
  position: relative;
}

.MuiFormHelperText-root {
  text-align: right !important;
  font-size: 10px !important;
  margin-right: 4px !important;
  font-family: "IRANYekan" !important;
}

.MuiChip-deleteIcon {
  margin: 0 -5px 0 6px !important;
}

.MuiPickersDay-root {
  font-family: 'IRANYekan';
  font-size: 17px;
}

//modal

.modalWrp {
  font-family: "IRANYekan" !important;
  position: fixed;
  background-color: white;
  padding: 20px;
  max-height: 80vh;
  // min-width: 550px;
  max-width: 800px;
  min-height: 280px;

  &.large {
    top: 10px;
    right: 10%;
    left: 10%;
    bottom: 10px;
    max-width: none;
    max-height: none;
  }

  @media only screen and (max-width:768px) {
    &.large {
      top: 10px;
      right: 0;
      left: 0;
      bottom: 10px;
      max-width: none;
      max-height: none;
    }
  }
}

.modal-title {
  font-family: "IRANYekan" !important;
  padding: 0 13px 6px 13px;
  border-bottom: 1px solid #ddd;
}

.modalBody {
  font-family: "IRANYekan" !important;
  height: calc(100% - 7px);
  overflow: auto;

  &>form,
  &>.MuiPaper-root,
  &>.inModal {
    height: 100%;
    overflow: auto;
  }
}

.form {
  font-family: "IRANYekan" !important;
  width: 100%;
  padding: 30px 20px 10px 20px;
  max-width: 100%;
  // background: #fff;
  height: calc(100% - 68px);
}

textarea {
  white-space: pre-line;
}

.area {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 4px;
  font-size: 15px;
  outline: 0;
  padding: 10px;
  margin: 1em auto;
  box-sizing: border-box;
  background-color: #e8eeef;
  color: #8a97a0;
}

.submit {
  color: #fff;
  margin: 1em auto;
  background: #1abc9c;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  width: 100%;
  border: 1px solid #16a085;
  border-width: 1px 1px 3px;
  margin-bottom: 10px;
  padding: 15px;
}

.MuiTypography-root,
.dzu-inputLabelWithFiles,
.MuiChip-label {
  font-family: 'IRANYekan' !important;
}

.dzu-previewContainer {
  padding: 0 1rem !important;
}

.dzu-dropzone {
  overflow: auto !important;
  border-width: 1px !important;

  svg {
    font-size: 2rem;
    color: #666;
  }
}

.dzu-inputLabel {
  font-family: 'IRANYekan' !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
}

.dzu-inputLabelWithFiles {
  margin-right: 1rem !important;
}

.react-tagsinput-input {
  font-family: 'IRANYekan' !important;
  font-weight: 400 !important;
}

.Toastify * {
  font-family: 'IRANYekan' !important;
  font-weight: 400 !important;
}

.ant-upload-list-item {
  height: 32px;
  border: 1px solid;
  padding: 10px;
  border-radius: 5px;
}

.ant-upload-list-item-done {
  background: #e2f9e8;
  border-color: #85b985;
}

.ant-modal-title {
  direction: ltr;
}



// MUI Step

.MuiStepLabel-root {
  display: inline-flex;
  text-align: right;
}

.MuiStepLabel-iconContainer {
  padding-left: 8px;
  padding-right: unset;
}

.MuiStepContent-root,
.MuiStepConnector-line {
  border-left: unset;
  border-right: 1px solid #bdbdbd;
}

.MuiStepContent-root {
  margin-left: unset;
  padding-left: unset;
  padding-right: unset;
  margin-right: 12px;
  padding-right: 20px;
  padding-left: 8px;
}

.MuiStepConnector-root {
  margin-right: 12px;
  margin-left: unset;
}

.MuiStepLabel-label {
  font-weight: 700 !important;
}

span.MuiStepLabel-iconContainer.Mui-completed svg {
  color: #16a085
}

.MuiStep-root {
  form {
    padding: 3rem 2rem;
  }

  hr {
    margin: 2rem 0;
  }

  .MuiStepLabel-iconContainer {
    svg {
      width: 2.7rem;
      height: 2.7rem;
      position: relative;
      right: -1rem;
      border-radius: 100%;


      &.Mui-active {
        box-shadow: 0 0 0 4px #f3f4f6, 0 0 0 7px #3f63ff29;
      }

      &.Mui-completed {
        box-shadow: 0 0 0 4px #f3f4f6, 0 0 0 7px #16a08529;
      }
    }
  }

  .MuiButton-outlinedWarning:hover {
    background-color: rgb(255 246 239);
  }

}