
//COLORS
$base-color: #F1812C;
$second-color: rgb(75, 110, 191);
$base-text-color: #6E6D7E;
$base-text-light-color: #9392a0;
$base-text-Morelight-color: #9D9CB8;
$bg-white: #F8F8F8;


//box-shadows
$boxShadow-tin : 0 13px 9px -9px rgba(96,96,96,.1);

//radius
$base-radius:0;
