

.scroll {
  width: 60px;
  height: 60px;
  border: 1px solid #bdbdbd;
  border-radius: 50%;
  position: relative;
  animation: down 2.5s infinite;
  -webkit-animation: down 2.5s infinite;
  &::before {
    content: "";
    position: absolute;
    top: 16px;
    left: 20px;
    width: 18px;
    height: 18px;
    border-left: 2px solid #bdbdbd;
    border-bottom: 2px solid #bdbdbd;
    transform: rotate(-45deg);
  }
}

@keyframes down {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateY(15px);
  }
  40% {
    transform: translate(0);
  }
}

@-webkit-keyframes down {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateY(15px);
  }
  40% {
    transform: translate(0);
  }
}
