.vuepress-markdown-body .token.atrule,
.vuepress-markdown-body .token.builtin,
.vuepress-markdown-body .token.important,
.vuepress-markdown-body .token.keyword,
.vuepress-markdown-body .token.selector {
  color: #cc99cd;
}
.vuepress-markdown-body pre,
.vuepress-markdown-body pre[class*="v-md-prism-"] {
  background-color: #282c34;
  border-radius: 6px;
  line-height: 1.4;
  margin: 0.85rem 0;
  overflow: auto;
  padding: 1.25rem 1.5rem;
}
.vuepress-markdown-body pre code,
.vuepress-markdown-body pre[class*="v-md-prism-"] code {
  background-color: initial;
  border-radius: 0;
  color: #fff;
  padding: 0;
}
.vuepress-markdown-body .token.punctuation {
  color: #ccc;
}
.vuepress-markdown-body .token.attr-value,
.vuepress-markdown-body .token.char,
.vuepress-markdown-body .token.regex,
.vuepress-markdown-body .token.string,
.vuepress-markdown-body .token.variable {
  color: #7ec699;
}
.vuepress-markdown-body .token.boolean,
.vuepress-markdown-body .token.function,
.vuepress-markdown-body .token.number {
  color: #f08d49;
}
.vuepress-markdown-body .token.class-name,
.vuepress-markdown-body .token.constant,
.vuepress-markdown-body .token.property,
.vuepress-markdown-body .token.symbol {
  color: #f8c555;
}
.vuepress-markdown-body .token.entity,
.vuepress-markdown-body .token.operator,
.vuepress-markdown-body .token.url {
  color: #67cdcc;
}

.vuepress-markdown-body code[class*="v-md-prism-"],
.vuepress-markdown-body pre[class*="v-md-prism-"] {
  word-wrap: normal;
  background: none;
  color: #ccc;
  font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
  font-size: 1em;
  -webkit-hyphens: none;
  hyphens: none;
  line-height: 1.5;
  text-align: left;
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
}

.vuepress-markdown-body pre,
.vuepress-markdown-body pre[class*="v-md-prism-"] {
  background-color: #282c34;
  border-radius: 6px;
  line-height: 1.4;
  margin: 0.85rem 0;
  overflow: auto;
  padding: 1.25rem 1.5rem;
}

.vuepress-markdown-body pre code,
.vuepress-markdown-body pre[class*="v-md-prism-"] code {
  background-color: initial;
  border-radius: 0;
  color: #fff;
  padding: 0;
}
.vuepress-markdown-body .line-number,
.vuepress-markdown-body code,
.vuepress-markdown-body kbd {
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
}
.vuepress-markdown-body div[class*="v-md-pre-wrapper-"] pre,
.vuepress-markdown-body
  div[class*="v-md-pre-wrapper-"]
  pre[class*="v-md-prism-"] {
  /* background: transparent; */
  position: relative;
  z-index: 1;
}
.vuepress-markdown-body pre,
.vuepress-markdown-body pre[class*="v-md-prism-"] {
  background-color: #282c34;
  border-radius: 6px;
  line-height: 1.4;
  margin: 0.85rem 0;
  overflow: auto;
  padding: 1.25rem 1.5rem;
}
.vuepress-markdown-body :not(pre) > code[class*="v-md-prism-"],
.vuepress-markdown-body pre[class*="v-md-prism-"] {
  background: #2d2d2d;
}
.vuepress-markdown-body pre[class*="v-md-prism-"] {
  margin: 0.5em 0;
  overflow: auto;
  padding: 1em;
}
