section {
  .section-title {
    position: relative;
    // &::first-letter{
    //   color: rgb(241, 156, 59);
    // }
    &:before {
      content: "";
      position: absolute;
      width: 46px;
      height: 46px;
      top: -10px;
      left: -27px;
      background-color: rgba(255, 133, 19, 0.16);
    }
    &.smallSize {
      &::before {
        display: none !important;
      }
    }
    &.has-bullet {
      &::before {
        content: "";
        width: 20px;
        height: 20px;
        border-radius: 500px;
        background-color: transparent;
        border: 3px solid $base-color;
        display: inline-block;
        vertical-align: middle;
        margin: 0 8px;
        position: relative;
        top: -3px;
      }
    }

    &.has-dots {
      &::after {
        content: "";
        background: url("/images/dots.svg");
        width: 90px;
        height: 94px;
        position: absolute;
        z-index: -1;
        top: -25px;
        left: -58px;
        opacity: 0.6;

        @media screen and (max-width: 768px) {
          display: none;
        }
      }
    }

    .title-sublink {
      margin-right: 1rem;
      font-weight: 300 !important;
      font-size: 13px;
      font-family: "IranYekan";
      padding-right: 1rem;
      border-right: 2px solid #ffffff28;
      display: flex;
      align-items: center;

      &:hover {
        color: orange;
      }

      svg {
        font-size: 1rem;
        margin-right: 0.2rem;
        margin-top: -2px;
        opacity: 0.5;
      }

      @media only screen and (max-width: 768px) {
        display: block;
        margin-top: 16px;
        border: none;
      }
    }

    &.on-light {
      color: inherit;
    }

    &.on-dark {
      color: #fff;
    }
  }

  .title {
    text-align: right;
  }

  &.news {
    .has-bullet {
      &:before {
        animation: bomb 2s ease-in-out infinite;
      }

      @keyframes bomb {
        0% {
          box-shadow: 0 0 0 0 rgba($base-color, 0.226),
            0 0 0 0 rgba($base-color, 0.288);
        }

        30% {
          box-shadow: 0 0 0 8px rgba(rgb(255, 184, 52), 0.2),
            0 0 0 0 rgba($base-color, 0.3);
        }

        60% {
          box-shadow: 0 0 0 10px rgba($base-color, 0.1),
            0 0 0 20px rgba($base-color, 0.1);
        }

        100% {
          box-shadow: 0 0 0 10px rgba($base-color, 0),
            0 0 0 40px rgba($base-color, 0);
        }
      }
    }
  }

  @media only screen and (max-width: 768px) {
    padding: 0 1.5rem;
  }

  &.hero,
  &.newsList {
    padding: 0;
  }
}

a.download {
  display: inline-block;
  margin-top: 16px;
  margin-bottom: -45px;
  font-size: 14px;
  background: #9f9f9f;
  margin-right: auto;
  margin-left: auto;
  padding: 8px;
  color: #fff !important;
  border-radius: 26px;
  height: 31px;
  line-height: 17px;
  transition: all 0.2s;

  &:hover {
    background-color: rgb(55, 136, 184);
  }
}
